{% extends "layout.html" %}
{% block content %}
    <div>
            <!--Logo/-->
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#feature-page">Features</a></li>
                    <li><a href="/#demo-page">Demo</a></li>
                    <li><a href="/#business-case-page">User Story</a></li>
                    <li><a href="/#tech-page">Technology</a></li>
                    <li><a href="/#team-page">Team</a></li>
                    <li><a href="/#contact-page">Contact</a></li>
                    <li class="active"><a href='admin'>Admin</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Mainmenu-area/-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
	  <!-- Slide 1 -->
      <div class="item active">
        <img align="center" class="article-img" src="{{ url_for('static', filename='slides/Slide01.png') }}" alt="1" style="width:75%;">
      </div>

	  <!-- Slide 2 -->
      <div class="item">
        <img align="center" class="article-img" src="{{ url_for('static', filename='slides/Slide02.png') }}" alt="2" style="width:75%;">
      </div>
    
	  <!-- Slide 3 -->
      <div class="item">
        <img align="center" class="article-img" src="{{ url_for('static', filename='slides/Slide03.png') }}" alt="3" style="width:75%;">
      </div>

	  <!-- Slide 4 -->
      <div class="item">
        <img align="center" class="article-img" src="{{ url_for('static', filename='slides/Slide04.png') }}" alt="1" style="width:75%;">
      </div>

	  <!-- Slide 5 -->
      <div class="item">
        <img align="center" class="article-img" src="{{ url_for('static', filename='slides/Slide05.png') }}" alt="1" style="width:75%;">
      </div>

	  <!-- Slide 6 -->
      <div class="item">
        <img align="center" class="article-img" src="{{ url_for('static', filename='slides/Slide06.png') }}" alt="1" style="width:75%;">
      </div>

	  <!-- Slide 7 -->
      <div class="item">
        <img align="center" class="article-img" src="{{ url_for('static', filename='slides/Slide07.png') }}" alt="1" style="width:75%;">
      </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


{% endblock content %}
