{% extends "layout.html" %}
{% block content %}

            <!--Logo/-->
            <nav class="collapse navbar-collapse" id="primary-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#feature-page">Features</a></li>
                    <li><a href="/#demo-page">Try It</a></li>
                    <li><a href="/#tech-page">Technology</a></li>
                    <li><a href="/#team-page">Team</a></li>
                    <li><a href="/#contact-page">Contact</a></li>
<!--                     <li class="active"><a href='admin.html#admin-page'>Admin</a></li> -->
                    <li class="active"><a href='{{ url_for("tech") }}'>Admin</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--Mainmenu-area/-->


    <!--Metric Cards-->
    <section class="gray-bg section-padding" id="admin-page">
        <div class="container">
            <div class="row justify-content-center">

                <!-- <div class="col-xs-12 col-sm-4"> -->
<!--                 <div class="col-6" style="min-width: 50%; margin-right: 5px;">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Pending</h5>
                        <h6 class="metric-big">0</h6>
                        <p class="card-text">New tickets waiting to be classified.</p>
                        <button type="button" class="btn btn-primary" onclick="location.href='admin'">Refresh</button> -->
                       <!-- <a href="#" class="card-link">Process</a> -->
                        <!-- <a href="#" class="card-link">Another link</a> -->
<!--                       </div>
                    </div>
                </div> -->
                <!-- <div class="col-xs-12 col-sm-4"> -->
                <div class="col-12" style="min-width: 100%; margin-left: 5px;">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Completed</h5>
                        <h6 class="metric-big">{{ completed_count }}</h6>
                        <button type="button" class="btn btn-primary" onclick="location.href='admin'">Refresh</button>
                        <p class="card-text" style="margin-top: 6px">Last refresh: {{ current_utc_time }}</p>
                      </div>
                    </div>
                </div>

        </div>

                    <hr class="featurette-divider">

                    <!-- Completed -->
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 table-header-div"">
                                <h6 class="table-header">Completed</h6>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 table-header-div">
                                <!-- <table id="example" class="display" style="width:100%"> -->
                                <!-- <table id="" class="display" style="width:100%"> -->
                                <table id="completed" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                         <tr>
                                            <th>Service Request ID</th>
                                            <th>Description</th>
                                            <th>Service Code</th>
                                            <th>Service Code Prob</th>
                                            <th>Jurisdiction ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for ticket in completed_json_data %}
                                            <tr>
                                                <td>{{ ticket['service_request_id'] }}</td>
                                                <td>{{ ticket['description'] }}</td>
                                                <td>{{ ticket['service_code'] }}</td>
                                                <td>{{ ticket['service_code_proba'] }}</td>
                                                <td>{{ ticket['jurisdiction_id'] }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature-area/-->

{% endblock content %}
